:root{
    --accent-color: #FED136;
    --title-text-color:#222;
    --main-text-color: #777;
    --placeholder-color:#BBB;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 942px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid red;
    margin: 0 auto;
}
.header{
    padding-top: 44px;
    padding-bottom: 189px;
}

.header-logo {
    color: var(--accent-color);

text-align: center;
font-family: Bilbo Swash Caps;
font-size: 36px;
font-style: normal;
font-weight: 400;
letter-spacing: 1.3px;
}
.nav-link{
    color: var(--accent-color);

text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
text-transform: uppercase;
}
.service-section{
    padding-top: 109px;
    padding-bottom: 119px;
}
.service-title{
    color:var(--title-text-color);

text-align: center;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 75px; 
text-transform: uppercase;
}
.service-name{
    color: var(--title-text-color);

text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
}
.service-descriptoin{
    color: var(--main-text-color);

text-align: center;
font-family: RobotoSlab;
font-size: 14px;
font-style: normal;
font-weight: 400;
}
.footer{
    background-color: var(--title-text-color);
    padding-top: 92px;
    padding-bottom: 115px;

}
.footer-title{
    color: #fff;

font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1px;
text-transform: uppercase;
}
.form-button{
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
    background-color: var(--accent-color);
    width: 242px;
height: 68px;
}
.form-name{
    margin-bottom: 28px;

}
.form-email{
    margin-bottom: 28px;
}